
body{
  background-color: rgb(153, 153, 153);
}


#descricao{
  background-color: rgb(250, 253, 200);
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
  text-align: center;
}



.caixa{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

 #lista{
  background-color: rgb(231, 197, 153);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
 }

